*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

:root{
    --main-color: #29005F;
    --main-color-lighter: #3f0e81;
    --main-color-blur: #29005f70;
}

body{
    max-width: 100vw;
    height: 100vh;
}

main{
    max-width: 100vw;
    height: 100vh;
    display: flex;
}

.imageLogoSection{
    width: fit-content;
    height: 100%;
    position: relative;
    
}
.hensuiLogo{
    width: 15.5rem;
    height: auto;
    position: absolute;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.imageContainer{
    width: fit-content;
    height: 100vh;
   
}


.hensuiImage{
    width: auto;
    height: 100%;
    object-fit: cover;
}

.mainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.introSocialSection{
    width: 100%;
    height: 100%;
    max-width: 36.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.socialHeader{
    width: 100%;
    display: flex;
    justify-content: right;

}

.socialBox{
    display: flex;
    align-items: center;
    margin-right: 3rem ;
    margin-top: 1.5rem;
   
}

.instaLogo{
    width: 3rem;
    height: auto;
}

.twitterLogo{
    width: 3rem;
    height: auto;
}

.instaLogo:hover{
    filter: drop-shadow(0.0625rem 0.0938rem 0.0625rem var(--main-color-blur));
    transition: all 100ms ease-out;
    cursor: pointer;
}

.twitterLogo:hover{
    filter: drop-shadow(0.0625rem 0.0938rem 0.0625rem var(--main-color-blur));
    transition: all 100ms ease-out;
    cursor: pointer;
}

.introBox{
    width: auto;
    margin: 0 2.25rem;
}

.chopstickBar{
    width: auto;
    height: 1.5rem;
}

.newsletterForm{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.emailInput{
    flex-grow: 3; 
    font-size: 1.375rem;
    color: var(--main-color);
    height: 3rem;
    border: 0.0625rem solid var(--main-color);
    padding-left: 1rem;
    border-radius: 0.3125rem;
    margin: 1rem 0.5rem 0 0;
}

.emailInput::placeholder{
    font-size: 1.375rem;
}

.submitButton{
    flex-grow: 1; 
    height: 3rem;
    background: var(--main-color);
    border-radius: 0.3125rem;
    font-size: 1rem;
    color: white;
    margin: 1rem 0 0 0;
    border: none;
}

.submitButton:hover{
    cursor: pointer;
    background-color: var(--main-color-lighter);
    box-shadow: 0.0625rem 0.0938rem 0.0625rem var(--main-color-blur);
    
}

.emailInput:hover{
    box-shadow: 0.0625rem 0.0938rem 0.0625rem var(--main-color-blur);
    transition: all 100ms ease-out;
    
}

.emailInput:focus{
    box-shadow: 0.0625rem 0.0938rem 0.0625rem var(--main-color-blur);
    outline-width: 0.125rem;
    outline-color: var(--main-color);
    transition: all 100ms ease-out;
}

.locationContactSection{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 4rem;
}

.locationBox{
    width: 50%;
    
}

.contactBox{
    width: 50%;
    
}

.introSocialSection h1{
    font-size: 48px;
    color: var( --main-color);
}

.introText, .newsletterInfoText{
    font-size: 1.375rem;
    color: #000000;
    margin-top: 1rem;
    width: fit-content;
}

.introSocialSection h2{
    font-size: 1.125rem;
    color: var(--main-color);
    margin-top: 1rem;
}

.locationContactSection p {
    font-size: 1rem;
}

@media (max-width: 1024px) {

    main{
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .imageLogoSection{
        width: 100%;
        height: fit-content;
        position: relative;
        
    }

    .imageContainer{
        width: 100%;
        height: fit-content;
        
    }

    .hensuiImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logoContainer{
        width: 100%;
        height: fit-content;
    }

    .hensuiLogo{
        width: 40%;
        height: 20%;
        position: absolute;
        margin-left: 32%;
        margin-top: 8%;
    }

    
    .mainSection{
        width: 100%;
        display: flex;
        flex-direction: column-reverse; 
        justify-content: space-between;
        align-items: center;
        margin: 0;

    }
    
    .introSocialSection{
        width: 100%;
        height: 100%;
        max-width: 62.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }

    
    
    .socialHeader{
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    
    .socialBox{
        display: flex;
        align-items: center;
        margin-right: 0 ;
        margin-top: 1.5rem;
       
    }
    
    .introBox{
        width: auto;
        height: auto;
        margin: 1rem;
    }
    
    .chopstickBar{
        width: auto;
        max-width: 100%;
        height: 1.9rem;
    }
    
    .newsletterForm{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    
    .emailInput{
        flex-grow: 1; 
        height: 3rem;
        border: 0.0625rem solid var(--main-color);
        padding-left: 1rem;
        border-radius: 0.3125rem;
        margin: 1rem 0 0 0;
    }
    
    .emailInput::placeholder{
        font-size: 1.375rem;
    }
    
    .submitButton{
        flex-grow: 1; 
        height: 3rem;
        background: var(--main-color);
        border-radius: 0.3125rem;
        font-size: 1rem;
        color: white;
        margin: 1rem 0 0 0;
        border: none;
    }
    
    .locationContactSection{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .locationBox{
        width: 50%;
        
    }
    
    .contactBox{
        width: 50%;
        
    }
    
    
    .introSocialSection h1{
        font-size: 56px;
        color: var( --main-color);
    }
    
    .introText, .newsletterInfoText{
        font-size: 1.6rem;
        color: #000000;
        margin-top: 1rem;
        width: fit-content;
    }
    
    .introSocialSection h2{
        font-size: 1.4rem;
        color: var(--main-color);
        margin-top: 1rem;
    }

    .locationContactSection p {
        font-size: 1.2rem;
    }
}

